.main-form {
  border: 1.3rem solid #153d77; border-bottom: 0px; height: 120px;
  position:relative;
}

.main {
  background-color: #f4f7fc;
  min-height: 1000px;
  font-size: 12px; 
  color: #3d5380 !important;
  position: absolute; top: 1.2rem;
  margin: 0 19px;
}
.card-header-form{
  font-size: 17px;
}
.card-form {
  background-color:rgb(216, 220, 224);
  margin: 1.2rem;
}

.form-group input {
  height: 25px;
}

.row.col-4 {
  padding: 1.3rem;
}

.form-group button {
  height: 25px;
}
.form-group input.small {
  width: 15%;
  border-top: 2px solid black;
  border-left: 2px solid #000;
}
.form-group input.small-disabled {
  width: 15%;
 
}

.form-group input.sub-small {
  width: 8%;
  border-top: 2px solid black;
  border-left: 2px solid #000;
}
.form-group input.sub-small-disable {
  width: 9.5%;
  
}
.form-group input.medium {
  width: 17%;
}
.form-group input.large-active {
  width: 48%;
}
.form-group input.large {
  width: 56%;
}
.form-group input.sub-large {
  width: 45%;
}

.form-group input.date {
  width: 27%;
}
.form-group label {
  margin-right: 3px;
  margin-left: 10px;
  width: 70px;
  justify-content: left;
}

.form-group label.tilde {
  margin-right: 8px;
  margin-left: 8px;
  width: 19px;
  font-size: 25px;
}
div.form-group {
  margin-top: 10px;
}
label.title {
  margin-right: 10px;
  margin-left: 1px;
  width: 110px;
}
.card-2 {
 
  background-color: #fff;
  margin-top: 20px;
  min-height: 500px;
  
}
.card-header-table {
  margin: 10px;
}
.card-header-table label {
  margin-right: 10px;
  margin-left: 10px;
  
}
.card-table {
  margin: 0 15px 0 15px;
}
input.nav-2-option {
  width: 5%;
}
thead {
  background-color: #c1e2fc;
}
.table td {
  padding: 0;
  margin-top: 5px;
  font-size: 15px;
}
th {
  color: #3d5380 !important;
}