.navbar {
  background: #f97300;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-primary {
  background-color: #007bff !important;
}

/*header style*/
.header {
  /* background-image: url("../images/headerback.jpg"); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.background-img {
  margin-top: 100px;
  margin-left: 50px;
}
.banner {
  background-image: url("https://thumbs.dreamstime.com/z/fairytale-blank-template-paper-background-rainbow-plants-flowers-border-elegant-fairy-tale-textured-blue-green-173205551.jpg");
  margin-top: 10px;
  height: 550px;
}
.banner button {
  background-color: #f97300;
  width: 120px;
  height: 50px;
}
.about-me {
}
.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: #f97300;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: #f97300;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}
body {
  margin: 5px;
}
.text-color-orange {
  color: #f97300;
}
.portfolio,
div.col-lg-4 {
  margin-top: 25px;
}
.blog {
  margin: 4em 0;
  position: relative;
}
.blog h1 {
  color: #f97300;
  margin: 2em;
}
.blog .card {
  box-shadow: 0 0 20px #ccc;
}
.blog .card img {
  width: 100%;
  height: 12em;
}
.blog .card-title {
  color: #f97300;
}
.blog .card-body {
  padding: 1em;
}
.blog .card img {
  width: 100%;
  height: 18em;
}
.team {
  margin: 4em 0;
  position: relative;
}
.team h1 {
  color: #f97300;
  margin: 2em;
}
.team .item {
  position: relative;
}
.team .des {
  background: #f97300;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition: 0.3s ease-in-out;
}
.team .item:hover .des {
  height: 20%;
  background: #f973007d;
  position: absolute;
  width: 89%;
  padding: 5em;
  top: 0;
  border-bottom-left-radius: 0;
}
